body {
  font: normal 12px arial, sans-serif;
  text-align: center;
}
table.table, table tr.table, table td.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

table.table td {
  padding: 7px 7px 7px 7px;
  border-spacing: 0;
  border: #B4BED0 1px solid;
  background-color: transparent;
}


.table {
  color: #000000;
  border: #000000 1px solid;
}

table td.col-head {
  color: #FFFFFF;
  background-color: #92A2C2;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
}

.message {
  list-style: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
}