<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Karaoke Night</title>
    {% else %}
    <title>Karaoke Night</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="description" content="Karaoke Night">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  </head>
  <body>
  <div>
    <header>
    
      <nav>
        <ul class="nav">
          {% if current_user.is_authenticated %}
          <p>{{ current_user.username }}</p>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          <li><a href="{{ url_for('add_song') }}">Add Song</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Log in</a></li>
          {% endif %}
          <li><a href="{{ url_for('index') }}">Song List</a></li>
          <li><a href="{{ url_for('view_performances') }}">Queue</a></li>
        </ul>
      </nav>
    </header>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="message">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <main>
      {% block content %}
      {% endblock %}
      </main>
    </div>
      <footer>
      </footer>
  <script></script>
  </div>
  </body>
</html>