{% extends "base.html" %}

{% block content %}
        {% if songs %}
        <table class="table center">
          <thead>
            <tr>
              <td class="col-head">CODE</td>
              <td class="col-head">TITLE</td>
              <td class="col-head">ARTIST</td>
              <td class="col-head"></td>
            </tr>
          </thead>
          <tbody>
            {% for song in songs %}
              <tr>
                <td>{{ song.code }}</td>
                <td>{{ song.title }}</td>
                <td>{% for artist in song.artists %} {{ artist }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                {% if current_user.is_authenticated %}
                <td>
                  <a href="{{ url_for('edit_song', id=song.id) }}">Edit</a>
                </td>
                {% else %}
                <td><button data-code="{{ song.code }}" id="{{ song.code }}-sign-up" class="sign-up-btn">Sign up</button></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
           No songs!
        {% endif %}
        <div id="sign-up-modal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
              <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                  {{ form.code(size=50) }} <br/>
                </p>
                <p>
                  {{ form.name.label }}: 
                  {{ form.name(size=50) }} <br/>
                  {% for error in form.name.errors %}
                  <span id="err-msg" class="error">{{ error }}</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.submit() }}
                </p>
              </form>
          </div>
        </div>
        <script>
        var modal = document.getElementById("sign-up-modal");
        var span = document.getElementsByClassName("close")[0];
        var codeField = document.getElementById("code");
        
        document.addEventListener('click', function (event) {
          if (!event.target.matches('.sign-up-btn')) return;
          event.preventDefault();
          modal.style.display = "block";
          codeField.value = event.target.getAttribute('data-code');
        }, false);
        
        function removeErrMsg() {
          if (document.getElementById("err-msg")) {
            document.getElementById("err-msg").parentNode.removeChild(document.getElementById("err-msg"))
          }
        }
        
        span.onclick = function() {
          modal.style.display = "none";
          removeErrMsg();
        }
        
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
            removeErrMsg();
          }
        }
        
        if (document.getElementById("err-msg")) {
          modal.style.display = "block"
        }
        
        </script>
{% endblock %}