       {% if performances %}
        <div>
          <h2>Queue</h2>
          <div class="performance-grid grid-header">
            <label>CODE</label>
            <label>TITLE</label>
            <label>ARTIST</label>
            <label>PERFORMER</label>
            {% if current_user.is_authenticated %}<label></label>{% endif %}
          </div>
          {% for performance in performances %}
          <div class="performance-grid performance-item">
            <div class="code">{{ performance.song.code }}</div>
            <div class="title">{{ performance.song.title }}</div>
            <div class="artist">{% for artist in performance.song.artists %} {{ artist }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            <div class="performer">{{ performance.name }}</div>
            {% if not current_user.is_authenticated %}{% if loop.first %}<div class="highlight">up next!</div>{% endif %}{% endif %}
            {% if current_user.is_authenticated %}
            <div class="delete">
            <form method="post">
                <button data-id="{{ performance.id }}" class="snackbar-btn btn-red">Delete</button>
                </form>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% else %}
           No performances!
        {% endif %}